{% extends "/pages/layout.twig" %}
{% block content %}
<!-- Section -->       
         <section id="sobre">
            <div id="textFullW2">
              
            </div>
        </section>        
{% endblock %}  