<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
	<title>INEMA - O CONCURSO</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />	
	<link rel="stylesheet" type="text/css" href="../../public/css/main.css">
</head>
<body id="myPage" >
<div id="preto">
    <nav id="menuTopo">
        <div id="menu_button_content">
            <div id="menu_button">
                Menu
                <div id="iconeMobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <ul id="menu_list">
            <li><a href="#myPage" class="menu_ativo">INICIO</a></li>
            <li><a href="#concurso">O CONCURSO</a></li>
            <li><a href="#sobre">SOBRE</a></li>
            <li><a href="#regras">REGRAS</a></li>
            <li><a href="#inscricao">INSCRIÇÃO</a></li>
        </ul>
    </nav>
    <img src="./images/texto_banner.png" class="imgText">
    <img src="./images/oceano.jpg" class="imgtopo" />

    <div class="corpoCont">
        <!-- Section -->
        <section class="concurso" id="concurso">
            <div id="textconcurso1">
                <h1>O CONCURSO</h1>
                <p>
                    Concurso de fotografia para todos os técnicos do Inema para exposição de fotos que retratem a temática água (os desafios e as belezas encontradas em campo) pelos colaboradores. Além de uma apresentação cultural com um artista de rua (poesia, musica, cordel) que aborde a temática água.
                </p>
            </div>
            <div id="textconcurso2">
                <div class="retangulo_inscricao">
                    <h2>EXPOSIÇÃO DE FOTOS</h2>
                    <p>20 á 24/03/2017 na divisórias da Ouvidoria
                        (em frente ao elevador)</p>
                    <h2>APRESENTAÇÃO</h2>
                    <p>20/03/2017 das 16:30h ás 17:30h.</p>
                </div>
                <button class="botao_inscrivase">INSCREVA-SE AQUI</button>
            </div>

        </section>
        <section class="concurso" id="increvaseCont">
            <div id="textconcurso3">
                <h1>EXPOSIÇÃO DE FOTOS</h1>
                <p>
                    20 á 24/03/2017 na divisórias da Ouvidoria
                    (em frente ao elevador)
                </p>
                <h1>APRESENTAÇÃO</h1>
                <p>20/03/2017 das 16:30h ás 17:30h.</p>
                <button class="botao_inscrivase">INSCREVA-SE AQUI</button>
            </div>
        </section>
        <div class="linha"></div>
        <section id="sobre">
            <div id="textFullW">
                <h1>SOBRE</h1>
                <p>
                    <p style="text-align: left;"><strong>Objetivos</strong></p>
                    <p style="text-align: left;">Promover a sele&ccedil;&atilde;o de 100 fotografias produzidas por colaboradores do Inema em comemora&ccedil;&atilde;o ao dia da &aacute;gua, que ser&aacute; elaborado um mural de fotos denominado de &ldquo;Varal das &Aacute;guas&rdquo;.</p>
                    <p style="text-align: left;"><strong>Dos participante</strong></p>
                    <p style="text-align: left;">Poder&atilde;o participar do Concurso Fotogr&aacute;fico 2017: Todos os colaboradores do Instituto do Meio Ambiente e Recursos H&iacute;dricos - INEMA e Secretaria do Meio Ambiente -SEMA.</p>
                    <p style="text-align: left;"><strong>Das especifica&ccedil;&otilde;es das fotografias participantes</strong></p>
                    <p style="text-align: left;">As fotografias devem abordar somente o tema OS DESAFIOS E AS BELEZAS RETRATADAS EM CAMPO REFERENTE &Agrave; SITUA&Ccedil;&Atilde;O HIDRICA, devendo ser obrigatoriamente a foto ser tirada em inspe&ccedil;&atilde;o em campo a servi&ccedil;o do Inema.</p>
                    <p style="text-align: left;"><strong>Premia&ccedil;&atilde;o final do concurso</strong></p>
                    <p style="text-align: left;">As 05 (cinco) primeiras fotografia que for mais votada nas redes sociais (Facebook e Instagram) do Inema, receber&aacute; como pr&ecirc;mio.</p>
                </p>
            </div>
        </section>
        <div class="linha"></div>
        <section id="regras">
            <div id="textFullW">
                <h1>REGRAS</h1>
                <p>Todas as fotos que retrate da <strong>tem&aacute;tica &aacute;gua</strong> (tais como situa&ccedil;&atilde;o de secas ou excedentes h&iacute;dricos, as belezas e os desafios de se trabalhar com os recursos h&iacute;dricos etc.) ser&atilde;o bem vindas.</p>
                <p>&bull; As fotos devem ser originais e sem altera&ccedil;&otilde;es.
                    <p>&bull; As fotos devem expor os ambientes visitados em inspe&ccedil;&otilde;es t&eacute;cnicas realizadas durante inspe&ccedil;&otilde;es pelo INEMA.</p>
                    <p>&bull; Fotografias que incluam pessoas ser&atilde;o desclassificadas.
                        <p>&bull; As fotos devem ser enviadas com um formul&aacute;rio de inscri&ccedil;&atilde;o preenchido.
                            <p>&bull; As fotografias do concurso se tornar&atilde;o publicas.
                                <p>&bull; O fot&oacute;grafo da foto que receber mais votos ganhar&aacute; um pr&ecirc;mio simb&oacute;lico.
                                    <p>&bull; Cada pessoa s&oacute; poder&aacute; cadastrar uma &uacute;nica foto.
                                        <p>&bull; A vota&ccedil;&atilde;o ser&aacute; por meio das redes sociais do INEMA.</p>
                                        <p>&bull; As vagas ser&atilde;o limitadas apenas 50.<br /><br />A foto vencedora ir&aacute; ganhar um kit de brinde (<strong>Agenda</strong>, <strong>caneta</strong>, <strong>livro</strong>).</p>

            </div>
        </section>
        <div class="linha"></div>        
    </div>
    <footer class="text-center">
        <div class="retangulo_rodape"></div>        
    </footer>
</div>
<script type="text/javascript" language="javascript" src="../public/js/jquery-3.4.0.min.js"></script>
<script>
//Ações para esconder e mostrar o menu quando está em mobile
$("#menu_button").click(function(){
	if($('#menu_list:visible').length == 0){
		$("#menu_list").show();
	}
	else{
		$("#menu_list").hide();		
	}
});
$("#menu_list").click(function(){
	if($('#menu_button:visible').length != 0){
		$("#menu_list").hide();
	}
});

// Diferenciar por class o menu quando estiver totalmente no topo
window.addEventListener("scroll", function() {
  var menu = document.getElementById("menuTopo");

  if (window.pageYOffset > 0) {
    menu.classList.add("visivel");
  } else {
    menu.classList.remove("visivel");
  }
});

//Funções com o carregamento da pagina
$( document ).ready(function() {	
	
});


	
</script>

</body>
</html>
